@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: #030218;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    position: fixed;
    background-image: linear-gradient(
      90deg,
      rgb(87, 161, 230),
      rgb(69, 113, 243),
      rgb(69, 113, 243),
      rgb(87, 161, 230)
    );
    padding-inline: 0px;
    width: 100%;
    z-index: 700;
  }
  
  .header::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 73px;
    height: 0.05rem;
    z-index: 200;
    background-image: linear-gradient(90deg, rgba(21, 227, 86, 0));
  }
  
  .pp {
    color: white;
    font-size: 30px;
  }
  
  .nav {
    max-width: 1480px;
    height: 73px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 40px;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .hamburger {
    display: block;
    z-index: 1;
    border: none;
    background: none;
    border-top: 1px solid #fff;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 25px;
    height: 1px;
    background: #fff;
    margin-top: 6px;
    position: relative;
    transition: 0.3s;
  }
  
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    clip-path: inset(10% 0 90% 0 round 0% 0% 0 0%);
    transition: 1s ease-out;
    backdrop-filter: blur(5px);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  
    pointer-events: none;
  }
  
  .nav-list a {
    font-size: 34px;
    transition: 0.3s ease-in-out;
  }
  
  .nav-list a:hover {
    font-size: 80px;
    color: #3451e2;
  }
  
  /* Estilos ativos */
  
  .nav.active .nav-list {
    clip-path: inset(10% 0 0 0 round 0% 0% 0 0%);
    pointer-events: all;
  }
  
  .nav.active .nav-list a {
    opacity: 1;
  }
  
  .nav.active .hamburger {
    top: 26px;
    right: 120px;
    border-top-color: transparent;
  }
  
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  
  .ola {
    display: flex;
    position: relative;
    align-items: center;
    width: 90%;
    top: 100px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    animation: slide 1s ease-in-out;
  }
  
  .headline{
    width: 60%;
  }

  .avatar{
    width: 40%;
  }

    .avatar img{
    position: relative;
    left: 90px;
    border-radius: 100%;
    width: 81%;
    transition: 0.3s linear;
  }
  
  .ola h2,
  p,
  a {
    color: white;
    text-decoration: none;
  }
  
  @keyframes slide {
    0% {
      transform: translatex(-700px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  #headh {
    font-size: 70px;
    font-weight: normal;
  }
  
  h1 {
    background: linear-gradient(
      90deg,
      rgb(122, 189, 251),
      rgba(44, 79, 255, 0.722),
      rgba(41, 75, 249, 0.722),
      rgb(122, 189, 251)
    );
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes degrade {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 400%;
    }
  }
  
  .cvv{
    top: 20px;
    position: relative;
    display: flex;
    gap: 25px;
  }

  .cvv a{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #F9F9F9;
    padding: 0.7rem 1.5rem;
    background-image: linear-gradient(90deg, rgba(92, 87, 230, 0.8) .2%, rgba(58, 48, 190, 0.648) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transition: 0.3s;
  }
  
  .cvv a:nth-child(2){
    background-image: none;
    border: 1px solid #0e23e4;
  }

  .cvv a:nth-child(2):hover{
    background-color: #08115c;
    transform: scale(0.97);
  }

  .cvv a:nth-child(1):hover{
    background-color: #3343d0;
    transform: scale(0.97);
  }

  .div-filha{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
  }

  .primeira{
    gap: 20px;
  }

  .segunda{
    justify-content: left;
  }
  .div-filha img{
    width: 30px;
  }

  .sobmim{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: slide 1s ease-in-out;
  }

  .sobmim h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.2rem;
    color: #F9F9F9;
    font-weight: 600;
  }

  .sobmim p{
    color: #828282;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 65%;
    line-height: 160%;
  }
  
  p {
    color: #828282;
    line-height: 30px;
    font-size: 18px;
  }

  .div-pai a{
    font-size: 16px;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    padding: 3px 12px;
    transition: 2.5s;
    cursor: pointer;
  }

  .fixed-center {
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(5, 3, 15, 0.878);
    color: white;
    width: 1000px;
    height: 550px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
  }
  
 

  @keyframes back {
    0% {
      background-color: none;
    }
    100% {
      background-color: dodgerblue;
    }
  }
  
  #dev {
    font-size: 20px;
  }
  
  section {
    width: 90%;
    margin: auto auto;
  }
  
  h3 {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 30px;
  }
  
  .cart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    margin: auto auto;
    margin-top: 30px;
  }
  
  .card {
    text-align: left;
    cursor: pointer;
    position: relative;
    width: 49%;
    height: 277px;
    border-radius: 10px;
    background-color: rgb(19, 17, 39);
    padding: 2%;
    transition: 0.3s linear;
  }

  .card:hover{
    background-color: #5a5a5a38;
    transform: translateY(-11px);
  }
  
  .card span{
    font-size: 50px;
  }

  .card h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    color: white;
    margin-top: 15px;
    font-weight: 600;
  }
  
  .card p {
    text-align: left;
    width: 100%;
    margin: auto auto;
    color:#b9b9b9;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 0;
    margin-top: 10px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  
  .min,
  h2 {
    font-size: 30px;
  }
  
  .carousel {
    text-align: center;
    width: 473px; /* Largura da viewport */
    height: 70px; /* Altura desejada */
    overflow: hidden; /* Oculta a parte que está fora da div */
    margin: auto auto;
    margin-top: 70px;
    margin-bottom: 300px;
  }
  
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.7s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  .hiddeny{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100px);
    transition: all 1s;
  }
  
  .showy {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }

  .box {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: nowrap; /* Impede a quebra de linha */
    animation: slider 8.5s linear infinite;
    transition: 0.5s ease-in-out;
  }
  
  /* Definição da animação */
  @keyframes slider {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-421px);
    }
  }

  .box img {
    padding: 7px;
  }
  
  #pyt {
    padding: 0px;
  }
  
  
  .projetos{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    text-align: center;
}

.div-pai {
    display: flex;
    position: relative; /* Para manter o contexto de posicionamento */
    height: 230px; /* Altura suficiente para acomodar as divs filhas */
    width: 30%;
    transition: 0.2s ease-in;
}

.div-pai:first-child{
    background-image: url(avatar/todolist.png);
    background-position: center;
    background-size: 420px;
}

.div-pai:nth-child(2){
    background-image: url(avatar/todolistnode.png);
    background-position:10% 0%;
    background-size: 550px;
}

.div-pai:nth-child(3){
  background-image: url(avatar/primeitosite.png);
  background-position:center;
  background-size: 490px;
}

.div-filha {
    height: 100px;
    width: 100px;
}

.primeira {
    background-color: rgba(0, 0, 0, 0.65);
    position: relative; /* Dentro da div-pai */
    transition: opacity 0.3s;
    width: 100%;
    height: 98%;
}


.div-pai::before{
  content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom: 0rem;
    background-image: linear-gradient(90deg, #4498d4 0%, #0e23e4 92.32%);
    z-index: 100;
}
.segunda {
  display: flex;
  justify-content: space-between;
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 31%;
    position: absolute; /* Sai do fluxo do documento normal */
     /* Mover para cima, para sobrepor a próxima div-pai */
    border-radius: 0 0 20px 20px;
    padding: 1.5rem 2rem 1.2rem 2rem;
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    bottom: 0px;
    text-align: left;
}


.div-pai:hover .segunda {
    animation: down 0.7s ease-in forwards;
}

.div-pai:hover  a  {
  animation: back 1.3s 0.8s forwards;
}

.div-pai:hover .primeira {
    opacity: 0;
}
.div-pai:hover {
  transform: scale(1.15); /* Aumenta o tamanho da div pai */
  z-index: 30; /* Aumenta o z-index para ficar acima das outras divs */
}

.segunda p{
  color: white;
}

@keyframes down{
  0%{
    transform: translatey(50px);
    opacity: 0;
    visibility: hidden;
    z-index: -10;  
  }
  50%{
    transform: translateY(60px);
    opacity: 0;
    visibility: hidden;
    z-index: -10;  
  }
  75%{
    transform: translateY(65px);
    opacity: 0;
    visibility: hidden;
    z-index: -10;    
  }
  100%{
    transform: translatey(72px);
    opacity: 1;
    visibility: visible;
    z-index: 20;  
  }
}

@keyframes scall{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

  
  /* Estilos para a barra de rolagem específica do WebKit */
  body::-webkit-scrollbar {
    width: 15px; /* largura da barra de rolagem */
    max-height: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #030218; /* cor do fundo da barra de rolagem */
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #569fe6; /* cor da alça da barra de rolagem */
    border-radius: 0px; /* borda arredondada da alça */
  }
  
  .contato {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contato h2 {
    margin-bottom: 80px;
    color: white;
    font-size: 30px;
  }
  
  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.5rem;
    border-radius: 0px;
  }
  
  .icons .icon img {
    width: 65px;
    margin-left: 0px;
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 5px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
  }
  
  .icon > img {
    background-color: #0000008e;
  }
  
  .icon p {
    font-size: 14px;
  }
  
  .avatar img:hover {
    transform: scale(1.06);
    transition: 0.3s ease-in-out;
  }
  
  .fixed-center {
    z-index: 200;
    justify-content: space-between;
    position: fixed;
    top: 50%; /* Alterei para 50% */
    left: 50%; /* Alterei para 50% */
    transform: translate(-50%, -50%);
    gap: 60px;
    background-color: rgb(16, 14, 36);
    color: white;
    border: none;
    width: 1200px;
    height: 510px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: 1.3s;
  }

  .filha-um{
    display: flex; /* Habilita o flexbox */
    justify-content: center; /* Centraliza o vídeo horizontalmente */
    align-items: center; /* Centraliza o vídeo verticalmente */
    max-width: 600px;  /* Largura máxima da div */
    max-height: 400px; /* Altura máxima da div */
    overflow: hidden; /* Evita transbordamento */
}
  video {
    width: 100%; /* Faz o vídeo ocupar toda a largura da div */
    height: 90%; /* Faz o vídeo ocupar toda a altura da div */
    object-fit: cover; /* Garante que o vídeo preencha a área sem distorção */
    display: block;
}

  .filha-dois{
    position: relative;
    width: 42%;
    height: 87%;
  }

  .filha-tres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 50px;
    gap: 10px;
  }

  .filha-tres a{
    background-color: dodgerblue;
    font-size: 16px;
    border-radius: 20px;
    padding: 7px 12px;
    border-radius: 6px;
    cursor: pointer;
  }

  .botao-x {
    top: 0px;    /* Distância do topo */
    right: 0px;  /* Distância da direita */
    position: absolute;
    width: 23px;  /* Largura do botão */
    height: 23px; /* Altura do botão */
    cursor: pointer;
}

.botao-x::before,
.botao-x::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px; /* Espessura da linha */
    background-color: rgb(206, 207, 226); /* Cor da linha */
    transform: translate(-50%, -50%) rotate(45deg); /* Rotação da primeira linha */
}

.botao-x::after {
    transform: translate(-50%, -50%) rotate(-45deg); /* Rotação da segunda linha */
}